<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  </head>
  <body>
  
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">

      <a class="navbar-brand" href="../chat/">Food.AI</a>
		<a href="../preferences/" style="float: right; padding-right: 10px; padding-top: 15px;">Preferences</a>      
		<a href="../profile/" style="float: right; padding-right: 10px; padding-top: 15px;">Profile</a>
      	<a href="../chat/" style="float: right; padding-right: 10px; padding-top: 15px; color: white;">Chat</a>
    </div>
   
  </div>
</nav>
		<div class="section">
			<div class="container">
				<div class="row" style="padding-bottom: 50px;">
					<div class="col-md-6 col-md-offset-3" style="padding-top: 20px; padding-bottom: 50px;">
						<ul id="messages">
							<li class="animated fadeInUp"> Hey! What type of food are you feeling right now? </li>
						</ul>
							
						<div class="row">
							<div class="col-md-12">
								<form action=""">
									<input id="m" autocomplete="off" style="width: 68%; max-width: 340px;"/>
									<button style="width: 23%; border-radius: 5px; max-width: 120px;">Send</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script><script>
    var socket = io();
    		$('form').submit(function() {
			socket.emit('chat message', $('#m').val());
			$('#m').val('');
			return false;
    	});
    	socket.on('chat message', function(msg) {
		$('#messages').append($('<li class="animated fadeInUp">').text(msg));
   	 });

	</script>

  </body>
</html>
