<!DOCTYPE html>
<html>
  <head>
    <title>Chat | Food.AI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
	<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
	<link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon'/ >
  </head>
  <body>
  
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="../chat/">
        <img src="/images/icon.png" class="img" width="30"></img>  Food.AI</a>
        <a href="../about/" style="float: right; padding-right: 10px; padding-top: 15px;">About</a> 
		<a href="../preferences/" style="float: right; padding-right: 10px; padding-top: 15px;">Preferences</a>      
		<a href="../profile/" style="float: right; padding-right: 10px; padding-top: 15px;">Profile</a>
      	<a href="../chat/" style="float: right; padding-right: 10px; padding-top: 15px; color: white;">Chat</a>
    </div>
   
  </div>
</nav>
		<div class="section">
			<div class="container">
				<div class="row" style="padding-bottom: 50px;">
					<div class="col-md-6 col-md-offset-3" style="padding-top: 20px; padding-bottom: 50px;">
						<ul id="messages">
							<li class="animated fadeInUp"> Hey! What type of food are you feeling right now? Type "food" for a personalized random recommendation!</li>
						</ul>
							
						<div class="row">
							<div class="col-md-12">
								<form action="">
									<input id="m" autocomplete="off" style="width: 68%; max-width: 340px;"/>
									<button style="width: 23%; border-radius: 5px; max-width: 120px;">Send</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Socket.IO display message -->
<script>
    var print;
    var socket = io();
    var counter = 0;
    var foodSearched = false;
    var directionsAsked = false;
    var placeName = "";
    var placeAddress = "";
    var placeDescription = "";
    var foodPlaceMap = {};
    var message = "";

    

    		$('form').submit(function() {
			socket.emit('chat message', $('#m').val());
			$('#m').val('');
			return false;
    	});
    	socket.on('chat message', function(msg) {
        counter += 1;
        console.log(counter);

        // Make sure the user sends an actual message.
        if(msg != "")  {
          $('#messages').append($('<li class="animated fadeInUp">').text(msg));
          
          var currentPlace;
          // Get entities from the string using wit.ai and prints a hardcoded response.
          $.ajax({
            url: 'https://api.wit.ai/message',
            data: {
              'q': msg,
              'access_token' : 'YVEL7HXFTUR3M6QYMX4LTKWL4TCNBGHQ'
            },
            dataType: 'jsonp',
            method: 'GET',
            success: function(response) {
                console.log("success!", response);
                var foodFound = true;
                intentHashtable = response.entities;
                
                var containsFood = intentHashtable.hasOwnProperty('food');
                var containsFavorites = intentHashtable.hasOwnProperty('favorites');
                var containsDirections = intentHashtable.hasOwnProperty('directions');
                var containsAcceptance = intentHashtable.hasOwnProperty('acceptance');
                var containsRejection = intentHashtable.hasOwnProperty('rejection');
                var containsAddition = intentHashtable.hasOwnProperty('addition');

                if(containsFood && !containsFavorites && !containsDirections) {
                  messageContent = intentHashtable["food"][0]["value"];
                  console.log(messageContent);

                  $.ajax({
                    url: 'https://api.yelp.com/oauth2/token',
                    data: {
                      grant_type: 'client_credentials',
                      client_id: 'KXC96infFDZ2iOOox_LLbg',
                      client_secret: 'eP6r7DHPtsnfQp9DltHDuQyN4ENFk1y71E1VBWfXX0B9DjXAVeoeWctji0ECc58i' 
                    },
                      dataType: 'json',
                      method: 'POST',

                    success: function(response)  {
                      console.log(response)
                      token = response.access_token;

                      $.ajax({
                        url: 'https://api.yelp.com/v3/businesses/search',
                        data: {
                          Authorization: 'Bearer ' + token,
                          term: messageContent,
                          location: '3550 Lebon Drive, San Diego, 92122'
                        },
                          dataType: 'json',
                          method: 'GET',
                          success: function(response) {
                            console.log(response);
                          },

                          error: function()  {
                            console.log(response);
                          }
                      });
                    }
                  });


                  $.ajax({
                    url: '/foodplace',
                    data: {
                      'food' : messageContent
                    },
                      dataType: 'json',
                      method: 'GET',
                      success: function(response) {
                        placeName = response.placeName;
                        placeAddress = response.placeAddress;
                        placeDescription = response.description;
                        console.log(placeName);
                        console.log(placeAddress);

                        if(placeName != "NULL")  {
                          message = "You should go to a place called " + placeName + " located at " + placeAddress + ". Would you like directions to this place? You can also tell me another type of food that you want.";
                          foodSearched = true;
                          directionsAsked = false;
                        }

                        else  {
                          message = "I can't find a place for the type of food you asked for. Tell me another type of food that you want.";
                          foodSearched = false;
                        }

                        $('#messages').append('<li class=\"animated fadeInUp\">' + message + '</li>');
                      },

                      error: function()  {
                        console.log(response);
                      }
                  });
                }

                else  {
                  if(foodSearched == true && directionsAsked == false)  {
                    if((containsAcceptance || containsDirections) && !containsRejection)  {
                      message = "<a style=\"text-decoration: underline;\" href=\"https://www.google.com/maps/place/" + placeAddress + "\">Click here for directions. </a> Would you like to add this place to your favorites? You can also tell me another type of food that you want.";
                      
                    }

                    else  {
                      message = "Would you like to add this place to your favorites? You can also tell me another type of food that you want.";
                    }

                    directionsAsked = true;
                  }


                  else if(foodSearched == true) {

                    foodSearched = false;
                    if((containsAcceptance || containsFavorites || containsAddition) && !containsRejection)  {
                      message = "I will add this to your favorites now. Tell me if there is anything else that you would like to eat.";

                      $.ajax({
                        url: '/add',
                        data: {
                          'name': placeName,
                          'address' : placeAddress,
                          'food' : placeDescription 
                        },
                        success: function(response1) {
                          console.log(response1);
                        }
                      });

                    }

                    else  {
                      message = "I won't add this to your favorites. Tell me if there is anything else that you would like to eat.";
                    }
                  }

                  else  {
                    message = "I'm not sure what you are trying to tell me. Let's try finding another food item you want to have.";
                    foodSearched = false;
                  }
                  
                  $('#messages').append('<li class=\"animated fadeInUp\">' + message + '</li>');				  
                }
            }
          });
        }
   	 });



</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87473717-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
