
<!doctype html>

<html>
<head>
    <title>Profile | Food.AI</title>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script>
       //Toggles for click to expand
      $(document).ready(function(){$("#favorites-toggle").click(function(){$("#favorites").toggle();});})
      $(document).ready(function(){$("#recommendations-toggle").click(function(){$("#recommendations").toggle();});})
      $(document).ready(function(){$("#past-toggle").click(function(){$("#past").toggle();});})
      $(document).ready(function(){$("#preferences-toggle").click(function(){$("#preferences").toggle();});})
    </script>
</head>
 <!-- Body-->
  <body>

    <!-- Nav Bar -->
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">

      <a class="navbar-brand" href="../chat/">Food.AI</a>
        <a href="../preferences/" style="float: right; padding-right: 10px; padding-top: 15px; color:white">Preferences</a>      
        <a href="../profile/" style="float: right; padding-right: 10px; padding-top: 15px;">Profile</a>
        <a href="../chat/" style="float: right; padding-right: 10px; padding-top: 15px;">Chat</a>
    </div>
   
  </div>
</nav>
	<!-- this is a comment in HTML -->
	<div class="container">
    <p class="fade" id="hello">Let's get you set up.</p>
    <center class="animated fadeInUp">
    
	<h2>How far are you willing to travel?</h2>
	<label for="fader">Distance (mi): </label> 
	<output for="fader" id="volume" style="display: inline; position: relative; top: -2px; font-size: 18px;">10</output>
	<br>
	<input type="range" min="1" max="50" value="10" id="fader" step="1" oninput="outputUpdate(value)">
	
	<h2>Maximum price per person?</h2>
	<label for="fader">Price ($): </label> 
	<output for="fader" id="volume" style="display: inline; position: relative; top: -2px; font-size: 18px;">10</output>
	<br>
	<input type="range" min="1" max="100" value="10" id="fader" step="1" oninput="outputUpdate(value)">

<h2>Got any allergies?</h2>
	<!-- Taken from http://www.prepbootstrap.com/bootstrap-template/multi-select-buttons -->
  <div class="container">
    <div class="row">
        <div class="form-group">
            <div class="items-collection">

                <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="info-block block-info clearfix">
                        <div data-toggle="buttons" class="btn-group bizmoduleselect">
                            <label class="btn btn-default">
                                <div class="itemcontent">
                                    <input type="checkbox" name="nuts" autocomplete="off" value="">
                                    <span class="fa fa-car fa-2x"></span>
                                    <h5>Peanuts/Nuts</h5>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="info-block block-info clearfix">
                        <div data-toggle="buttons" class="btn-group itemcontent">
                            <label class="btn btn-default">
                                <div class="itemcontent">
                                    <input type="checkbox" name="soy" autocomplete="off" value="">
                                    <span class="fa fa-truck fa-2x"></span>
                                    <h5>Soy</h5>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="info-block block-info clearfix">
                        <div data-toggle="buttons" class="btn-group itemcontent">
                            <label class="btn btn-default">
                                <div class="itemcontent">
                                    <input type="checkbox" name="gluten" autocomplete="off" value="">
                                    <span class="fa fa-laptop fa-2x"></span>
                                    <h5>Gluten</h5>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="info-block block-info clearfix">
                        <div data-toggle="buttons" class="btn-group itemcontent">
                            <label class="btn btn-default">
                                <div class="itemcontent">
                                    <input type="checkbox" name="fish" autocomplete="off" value="">
                                    <span class="fa fa-cube fa-2x"></span>
                                    <h5>Fish/Shellfish</h5>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="info-block block-info clearfix">
                        <div data-toggle="buttons" class="btn-group itemcontent">
                            <label class="btn btn-default">
                                <div class="itemcontent">
                                    <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                    <span class="fa fa-lock fa-2x"></span>
                                    <h5>Milk</h5>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>                
                <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="info-block block-info clearfix">
                        <div data-toggle="buttons" class="btn-group itemcontent">
                            <label class="btn btn-default">
                                <div class="itemcontent">
                                    <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                    <span class="fa fa-barcode fa-2x"></span>
                                    <h5>Other</h5>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>                
                         

            </div>
        </div>
    </div>

</div>
  
<!--http://www.w3schools.com/jquerymobile/tryit.asp?filename=tryjqmob_forms_slider-->

	<a href="/chat/" type="button" class="btn btn-default btn-lg animated fadeInUp" style="margin-top: 15px;">
  				Start Chatting &nbsp;<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> 
	</a>
    
  </div>
  <!--main end-->

	<!-- Taken from http://www.prepbootstrap.com/bootstrap-template/multi-select-buttons -->
<script>
$(function () {
    $('#search').on('keyup', function () {
        var pattern = $(this).val();
        $('.items-collection .items').hide();
        $('.items-collection .items').filter(function () {
            return $(this).text().match(new RegExp(pattern, 'i'));
        }).show();
    });
});

function outputUpdate(vol) {
	document.querySelector('#volume').value = vol;
}
</script>
  </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
