<!doctype html>

<html>
<head>
	<title>Profile | Food.AI</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">

    <script>
 	   //Toggles for click to expand
  	  $(document).ready(function(){$("#favorites-toggle").click(function(){$("#favorites").toggle();});})
  	  $(document).ready(function(){$("#recommendations-toggle").click(function(){$("#recommendations").toggle();});})
  	  $(document).ready(function(){$("#past-toggle").click(function(){$("#past").toggle();});})
  	  $(document).ready(function(){$("#preferences-toggle").click(function(){$("#preferences").toggle();});})
    </script>
</head>

<body>
	<!-- Nav Bar -->
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="../chat/">
        <img src="images/icon.png" class="img" width="30"></img>Food.AI</a>
		<a href="../preferences/" style="float: right; padding-right: 10px; padding-top: 15px;">Preferences</a>      
		<a href="../profile/" style="float: right; padding-right: 10px; padding-top: 15px; color: white;">Profile</a>
      	<a href="../chat/" style="float: right; padding-right: 10px; padding-top: 15px;">Chat</a>
    </div>
  </div>
</nav>
	<section class="animated fadeInUp">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<img src="/images/profile/barack-obama.png" alt="profile" class="profile-photo">
					<h2 style="text-align: center;">Barack Obama</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<a href="/favorites"><h4> Favorites </h4></a>
					<hr>
					<a href="#" onClick="return false;" id="recommendations-toggle" class="nav-toggle"><h4> Recommendations </h4></a>
					<div id="recommendations"> 
						Chipotle <br>
						Lemongrass <br>
					</div>
					<hr>
					<a href="/preferences"><h4> Preferences </h4></a>
					<div id="preferences">
						<h4>Allergies</h4>
						<div>Peanut</div>
					</div>
					<hr>
					</div>
				</div>
			</div> <!-- End row -->
		</div> <!-- End Container -->
	</section> 
</body>

</html>
