<!doctype html>

<html>
<head>
	<title>Profile | Food.AI</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->  
    <style type="text/css">
    .profile-photo		{width: 140px;
    					display: block;
    					margin: 0 auto;
    					margin-top: 20px;
    					}
    #favorites, #recommendations, #past, #preferences			
    					{display: none;
    					}
    </style>      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
 	   //Toggles for click to expand
  	  $(document).ready(function(){$("#favorites-toggle").click(function(){$("#favorites").toggle();});})
  	  $(document).ready(function(){$("#recommendations-toggle").click(function(){$("#recommendations").toggle();});})
  	  $(document).ready(function(){$("#past-toggle").click(function(){$("#past").toggle();});})
  	  $(document).ready(function(){$("#preferences-toggle").click(function(){$("#preferences").toggle();});})
    </script>
</head>

<body>
	<!-- Nav Bar -->
	<nav class="navbar navbar-inverse">
  		<div class="container-fluid">
   			<div class="navbar-header">
      			<a class="navbar-brand" href="#">Food.AI</a>
				<a href="../preferences/" style="float: right; padding-right: 10px; padding-top: 15px;">Preferences</a>      
				<a href="#" style="float: right; padding-right: 10px; padding-top: 15px; color: white;">Profile</a>
      			<a href="../chat/" style="float: right; padding-right: 10px; padding-top: 15px;">Chat</a>
    		</div>
  		</div>
	</nav>
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<img src="/images/profile/barack-obama.png" alt="profile" class="profile-photo">
					<h2 style="text-align: center;">Barack Obama</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<a href="#" onClick="return false;" id="favorites-toggle" class="nav-toggle"><h4> Favorites </h4></a>
					<div id="favorites">
						Vallartas <br>
						In n Out <br>
						Tacos El Gordo <br>				
					</div>
					<hr>
					<a href="#" onClick="return false;" id="recommendations-toggle" class="nav-toggle"><h4> Recommendations </h4></a>
					<div id="recommendations"> 
						Chipotle <br>
						Lemongrass <br>
					</div>
					<hr>
					<a href="#" onClick="return false;" id="past-toggle" class="nav-toggle"><h4> Past Visits</h4></a>
					<div id="past"> 
						64 Degrees <br>				
						Foodworx <br>				
						Pines <br>				
						Cafe Ventanas <br>				
						Canyon Vista <br>	
					</div>
					<hr>
					<a href="#" onClick="return false;" id="preferences-toggle" class="nav-toggle"><h4> Preferences </h4></a>
					<div id="preferences">
						<h4>Allergies</h4>
						<div>Peanut</div>
					</div>
					<hr>
					</div>
				</div>
			</div> <!-- End row -->
		</div> <!-- End Container -->
	</section> 
</body>

</html>
